__pycache__
*.pyc
*.pyo
.git
.gitlab
.env
.venv
venv
test_app.py
docker-compose.yml
terraform/
.gitlab-ci.yml
healthcheck.sh
__pycache__/
*.egg-info
dist/
build/
.gitignore
README.md
.pytest_cache/
bandit-report.json
ruff.toml
.ruff_cache/
requirements-dev.txt
DOSSIE.md
